/* responsive design for mobile and table */

@media (min-width: 992px) and (max-width: 1199px) {
  .header_area {
    padding: 0;
  }
  .navbar-brand {
    margin-right: 30px;
  }
  .wb-search-btn > a,
  .wb-signin-btn > a {
    margin-right: 15px;
    font-size: 15px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 7px;
    padding-left: 7px;
    font-size: 15px;
  }
}

/* medium screen */

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-toggler {
    border: 2px solid $wht;
    color: $wht;
    margin: 37px 0;
    transition-duration: 500ms;
  }

  .sticky .navbar-toggler {
    margin: 17px 0;
  }

  #wbnav {
    padding: 30px;
    background-color: #7c8ce9;
    box-shadow: 1px 9px 10px rgba($color: #000000, $alpha: 0.15);
    border-radius: 0 0 3px 3px;
  }

  .wb-search-btn > a,
  .wb-signin-btn > a {
    margin-right: 0;
    margin-left: 15px;
    padding: 10px 0;
  }

  .sidebar {
    padding-left: 15px;
  }
}

/* small screen */
@media (min-width: 310px) and (max-width: 767px) {
  .header_area {
    padding: 0;
  }
  .navbar-brand {
    margin-right: 0px;
  }
  .navbar-brand img {
    width: 200px;
    height: 50px;
  }

  .navbar-toggler {
    border: 2px solid $wht;
    color: $wht;
    margin: 37px 0;
    transition-duration: 500ms;
  }
  .sticky .navbar-toggler {
    margin: 17px 0;
  }
  #wbnav {
    padding: 15px;
    background-color: #7c8ce9;
    box-shadow: 1px 9px 10px rgba($color: #000000, $alpha: 0.15);
    border-radius: 0 0 3px 3px;
  }

  .wb-search-btn > a,
  .wb-signin-btn > a {
    margin-right: 0;
    margin-left: 15px;
    padding: 10px 0;
  }

  .banner_area #intro_text #bd {
    font-size: 60px;
  }

  .banner_area #intro_text #tagline {
    font-size: 25px;
  }
  .post-entry-horzontal .image,
  .text {
    display: block;
  }
  .post-entry-horzontal .image {
    width: 100%;
    height: 200px;
  }

  .post-entry-horzontal .text {
    width: 100%;
    height: 200px;
    border: 1px solid lighten(#ccc, 10%);
    border-top: none;
  }
}
