/* navbar */
@import url("https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap");
@font-face {
  font-family: "the_blacklist";
  src: url("../fonts/the_blacklist-webfont.woff2") format("woff2"),
    url("../fonts/the_blacklist-webfont.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9faf9;
  align-items: center;
  justify-content: center;
}

/* contact form */

h1 {
  font-family: "lato", sans-serif;
  font-size: 45px;
  font-weight: 600;
  font-style: bold;
}

#contactleft h2 {
  font-family: "lato", sans-serif;
  font-style: italic;
  font-weight: 500;
}

#contactleft p {
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 25px;
}

#contact-form .container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 600px;
}
.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  border: none !important;
}
.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
  text-align: left;
}
.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control textarea {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}
