@import url("https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  color: black;
  font-size: 15px;
  line-height: 1.5;
}

#dk_header h1 {
  padding-top: 6px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 100px;
}
#dk_header h6 {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 100;
  padding-left: 5px;
}
#dk_header p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 200;
  padding-bottom: 3px;
}
.underline {
  border: 1.5px solid #222;
  width: 6rem;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px;
}
.card {
  height: 410px !important;
}

.card-img-top {
  width: auto;
  height: 193px;
}
.card-title {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  color: #2c3543;
}

.card-text {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #2c3543;
}
