@import url("https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap");
@font-face {
  font-family: "the_blacklist";
  src: url("../fonts/the_blacklist-webfont.woff2") format("woff2"),
    url("../fonts/the_blacklist-webfont.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  color: white;
  font-size: 15px;
  line-height: 1.5;
}
#home-section {
  background: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.4);
}

#home-section .home-inner {
  padding-top: 150px;
}
#banner-left {
  padding-top: 100px;
}
#bd {
  font-family: "the_blacklist";
  font-size: 120px;
  font-style: italic;
  color: #fff;
}
#tagline {
  font-family: "the_blacklist";
  font-size: 35px;
  font-style: italic;
}

#qikcrd {
  background: rgba(155, 155, 155, 0.3);
}
/* right side form box */
.tab-content .nav-tabs {
  border-bottom: none;
}
.tab-content .nav-item {
  background: rgba(#fff, 0.25);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  margin-right: 1px;
}
.tab-content .nav-item a {
  color: white;
}
.tab-content .nav-item a:hover {
  border-color: transparent !important;
}
.tab-content .nav-tabs .nav-link {
  border-radius: 0 !important;
}
.tab-content .tab-content {
  background: white;
}
.tab-content .form-wrap {
  padding: 40px 30px;
  text-align: center;
}
.tab-content .form-control {
  padding: 0.675rem 0.75rem;
  font-size: 13px;
  font-weight: 300;
  border-radius: 0px;
  margin-bottom: 10px;
  border-color: #eee;
}

/* Introduction text */

.intro {
  margin: 20px;
  padding-top: 20px;
}

.intro-text h2 {
  font-family: "Lato", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 300;
  line-height: 55px;
  color: #2c3543;
  text-align: center;
  padding-bottom: 10px;
}

.intro-text p {
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 42px;
  color: #2c3543;
  text-align: center;
  padding-bottom: 30px;
}
/* hidden text style in intro section */
#hidden-text h4 {
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #2c3543;
  padding-bottom: 10px;
  text-align: left;
}
#hidden-text p {
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 36px;
  color: #2c3543;
  padding-bottom: 9px;
}
#hidden-text {
  display: none;
}
button {
  align-items: center;
}

/* intro video */
.intro-video {
  padding-top: 80px;
  margin-top: 20px;
  padding-bottom: 30px;
}

.top-experience .card-title h1 {
  font-family: "Lato", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 300;
  line-height: 55px;
  color: #2c3543;
  text-align: center;
  padding-bottom: 10px;
}

.top-experience .card-title p {
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 42px;
  color: #2c3543;
  text-align: center;
  padding-bottom: 30px;
}

.top-experience .card-deck .card-body h4 {
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #2c3543;
}

.top-experience .card-deck .card-body p {
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #2c3543;
  padding-bottom: 9px;
}
