@font-face {
  font-family: "the_blacklist";
  src: url("../fonts/the_blacklist-webfont.woff2") format("woff2"),
    url("../fonts/the_blacklist-webfont.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9faf9;
  align-items: center;
  justify-content: center;
}

#tv h1 {
  font-family: "lato", sans-serif;
  font-size: 45px;
  font-weight: 600;
  font-style: bold;
}
#tvp p {
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 25px;
}
.underline {
  border: 1.5px solid #222;
  width: 6rem;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px;
}
