.main-nav {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 20px 0;
  font-size: 16px;
  font-weight: 500;
  font-family: "Source Sans Pro", sans-serif;
}
#logo {
  width: 110px;
}
.navbar-dark .navbar-nav .nav-link {
  color: black !important;
}
.main-menu {
  text-transform: uppercase;
}
