* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}
a {
  color: #262626;
  text-decoration: none;
}
ul {
  list-style: none;
}
/* body container */
.container {
  width: 96%;
  max-width: 1200px;
  margin: auto;
}
/* nav start*/
.main-nav {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 20px 0;
  font-size: 13px;
}
.main-nav .logo {
  width: 110px;
}
.main-nav ul {
  display: flex;
}
.main-nav ul li {
  padding: 0 10px;
}
.main-nav ul li a {
  padding-bottom: 2px;
}
.main-nav ul li a:hover {
  border-bottom: 2px solid #262626;
}
.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
}

/* nav end */

/* Banner area start */
.banner {
  width: 100%;
  height: 500px;
  background: url("https://i.ibb.co/ctJH3r6/bg.jpg") no-repeat center
    center/cover;
  /*  */
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
}

/* left side banner */
.banner .row {
  margin: 10px;
  color: #fff;
}

.banner .row .bd {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
  margin-right: 0.3em;
}
.banner .row span {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-size: 32px;
  font-style: italic;
  line-height: 48px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  top: 0;
  left: 0;
}
/* right side banner */

.banner-right {
  margin-top: 15px;
}
.banner-right .nav-tabs {
  border-bottom: none;
}
.banner-right .nav-item {
  background: rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  margin-right: 1px;
}
.banner-right .nav-item a {
  color: white;
}
.banner-right .nav-item:hover a {
  border-color: transparent !important;
}
.banner-right .nav-tabs .nav-link {
  border-radius: 0 !important;
}
.banner-right .tab-content {
  background: white;
}
.banner-right .form-wrap {
  padding: 40px 30px;
  text-align: center;
}
.banner-right .form-wrap .form-control {
  padding: 0.675rem 0.75rem;
  font-size: 13px;
  font-weight: 300;
  border-radius: 0px;
  margin-bottom: 10px;
  border-color: #eee;
}
.banner-right .form-wrap .form-control:focus {
  box-shadow: none;
}
@media (max-width: 1024px) {
  .banner-right {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .banner-right {
    padding-bottom: 50px;
  }
}
/* Banner area end */

/* Introduction text */

.intro {
  margin: 20px;
  padding-top: 20px;
}

.intro-text h2 {
  font-family: "Lato", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 300;
  line-height: 55px;
  color: #2c3543;
  text-align: center;
  padding-bottom: 10px;
}

.intro-text p {
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 42px;
  color: #2c3543;
  text-align: center;
  padding-bottom: 30px;
}

#hidden-text h4 {
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #2c3543;
  padding-bottom: 10px;
  text-align: left;
}
#hidden-text p {
  font-family: "lato", Georgia, "Times New Roman", Times, serif, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 36px;
  color: #2c3543;
  padding-bottom: 9px;
}
#hidden-text {
  display: none;
}
button {
  align-items: center;
}
