* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}
a {
  color: #262626;
  text-decoration: none;
}
ul {
  list-style: none;
}
/* body container */
.container {
  width: 96%;
  max-width: 1200px;
  margin: auto;
}
/* nav start*/
.main-nav {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 20px 0;
  font-size: 13px;
}
.main-nav .logo {
  width: 110px;
}
.main-nav ul {
  display: flex;
}
.main-nav ul li {
  padding: 0 10px;
}
.main-nav ul li a {
  padding-bottom: 2px;
}
.main-nav ul li a:hover {
  border-bottom: 2px solid #262626;
}
.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
}

/* nav end */

/* Banner area start */
.banner {
  width: 100%;
  height: 500px;
  background: url("https://i.ibb.co/ctJH3r6/bg.jpg") no-repeat center
    center/cover;
  /*  */
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .banner .fullscreen {
    height: auto !important;
  }
}
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.banner-area .overlay-bg {
  background: rgba(4, 9, 30, 0.4);
}

/* left side banner */
.banner-left {
  margin: 10px;
  color: #fff;
}
.text-white {
  color: #fff !important;
}
.banner-left h6 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
}
.banner-left h1 {
  font-family: "Source Sans Pro", sans-serif;
  margin: 20px 0;
  font-size: 90px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
  margin-right: 0.3em;
}
@media (max-width: 1199px) {
  .banner-left h1 {
    font-size: 40px;
  }
}
@media (max-width: 413px) {
  .banner-left h1 {
    font-size: 33px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .banner-left h1 {
    font-size: 36px;
  }
  .banner-left h6 {
    font-size: 12px;
  }
}
.banner-left p {
  margin: 20px 0px;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-size: 25px;
  font-style: italic;
  line-height: 30px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  top: 0;
  left: 0;
}
@media (max-width: 767px) {
  .banner-left {
    margin-top: 120px;
    margin-bottom: 60px;
  }
}

/* right side banner */

.banner-right {
  margin-top: 15px;
}
.banner-right .nav-tabs {
  border-bottom: none;
}
.banner-right .nav-item {
  background: rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  margin-right: 1px;
}
.banner-right .nav-item a {
  color: white;
}
.banner-right .nav-item:hover a {
  border-color: transparent !important;
}
.banner-right .nav-tabs .nav-link {
  border-radius: 0 !important;
}
.banner-right .tab-content {
  background: white;
}
.banner-right .form-wrap {
  padding: 40px 30px;
  text-align: center;
}
.banner-right .form-wrap .form-control {
  padding: 0.675rem 0.75rem;
  font-size: 13px;
  font-weight: 300;
  border-radius: 0px;
  margin-bottom: 10px;
  border-color: #eee;
}
.banner-right .form-wrap .form-control:focus {
  box-shadow: none;
}
@media (max-width: 1024px) {
  .banner-right {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .banner-right {
    padding-bottom: 50px;
  }
}
/* Banner area end */

/* Introduction text */

.intro {
  margin: 20px;
  padding-top: 20px;
}

.intro-text h2 {
  font-family: "Lato", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 300;
  line-height: 55px;
  color: #2c3543;
  text-align: center;
  padding-bottom: 10px;
}

.intro-text p {
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 42px;
  color: #2c3543;
  text-align: center;
  padding-bottom: 30px;
}
/* hidden text style in intro section */
#hidden-text h4 {
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #2c3543;
  padding-bottom: 10px;
  text-align: left;
}
#hidden-text p {
  font-family: "lato", Georgia, "Times New Roman", Times, serif, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 36px;
  color: #2c3543;
  padding-bottom: 9px;
}
#hidden-text {
  display: none;
}
button {
  align-items: center;
}

/* intro section end */

/* intro video */

.intro-video {
  padding-top: 80px;
  margin-top: 20px;
}

/* Popular Destination start */
.section-gap {
  padding: 120px 0;
}
.row {
  display: grid;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.single-destination .overlay-bg {
  background: rgba(4, 9, 30, 0.4);
  opacity: 0;
}
.single-destination .thumb {
  position: relative;
}
.single-destination .thumb img {
  width: 100%;
}
.single-destination .desc {
  text-align: center;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.single-destination .desc .price-btn {
  background: #f8b600;
  text-align: center;
  color: black;
  padding: 6px 30px;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  margin: 10px;
  opacity: 0;
}
.single-destination .desc h4 {
  color: white;
}
.single-destination .desc p {
  color: white;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0px;
}
.single-destination:hover .price-btn {
  opacity: 1;
}
.single-destination:hover .overlay-bg {
  opacity: 1;
}
@media (max-width: 991px) {
  .single-destination {
    margin-bottom: 30px;
  }
}
